
.image_message {
        border-radius: 40px;
        object-fit: contain;
        width: 100%;
        height: 100%;
        background-color: black;
}

.image_cont {
    width: 300px;
    height: 300px;
    margin: 10px;
}

