

.chat_cont{
    width: 100%;
    height: calc(100% - 64px);
    justify-content: center;
    margin-right: 32px;
    margin-top: 32px;
    margin-bottom: 32px;

    box-sizing: border-box;

    background-color: #212121;
    border-radius: 20px;
    

}

.chat_zone {


    border-radius: 30px;

    // padding: 10px;
    position: relative;
    padding-top: 50px;
    box-sizing: border-box;
    height: 100%;
    // width: 950px;

    max-width: 100%;

    min-width: 320px;

    display: flex;
    flex-direction: column;
    justify-content: end;

    padding: 10px;

}