@use '../../styles' as vars;



.hidden{
    display: none;
    
}


.arrow_btn {
    border-radius: 999px;
    background-color: vars.$accent-btn;
    padding: 5px;
}


.pin_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.mic_btn {
    background: transparent;
}



.messageInputBlock {
    display: grid;
    grid-template-columns: 40px auto 40px;
    
    align-items: center;
    justify-items: center;



    gap: 10px;    position: relative;
    margin-top: auto;
    margin-bottom: 20px;
    // padding-top: 18px;
    // padding-bottom: 18px;

    padding-left: 22px;
    padding-right: 21px;


    height: 60px;
    box-sizing: border-box;

    width: 100%;

    margin-bottom: 20px;




    background-color: #2F2F2F;
    border-radius: 9999px;

    button {
        outline: none;
        border: transparent;

        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;

    }


    input[type="text"] {
        width: 100%;
        font-family: 'Montserrat';
        background-color: transparent;
        outline: none;
        border: none;
        color: white;

        font-size: 18px;
        padding: 0;
    }


    

}