

.chat_zone {


    border-radius: 30px;

    // padding: 10px;
    position: relative;
    padding-top: 50px;
    box-sizing: border-box;
    height: 100%;
    // width: 950px;

    max-width: 100%;

    min-width: 320px;

    display: flex;
    flex-direction: column;
    justify-content: end;

    padding: 10px;

}